<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/KathrynTrom">Kathryn Tromba</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'tromba.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kathryn Tromba</h2>
      <br />
      <p>
        Kathryn is an aspiring website developer. She is currently the Digital Marketing Manager at an ad agency in Tampa, FL, but hopes to utilize her newfound coding skillset to land a job in website development. In her spare time, she enjoys making contemporary pottery for her small business, <a href="https://www.instagram.com/pedalhandmades/" target="_blank">Pedal Handmades</a>.
      </p>
    </div>
  </div>

  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>